{
  "root": true,
  "ignorePatterns": ["**/*.d.ts"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@react-native", "unused-imports", "import", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    },
    {
      "files": "**/*.+(js|jsx)",
      "env": {
        "commonjs": true,
        "es6": true,
        "node": true
      },
      "parserOptions": {
        "ecmaVersion": 2018
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "unused-imports/no-unused-imports": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ],
        "pathGroups": [
          {
            "pattern": "{react,react-native}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@athler/platform-lib/*",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react",
          "react-native",
          "@athler/platform-lib/*"
        ],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
