{
  "root": true,
  "ignorePatterns": ["**/*.d.ts"],

  "parser": "@typescript-eslint/parser",
  "plugins": ["unused-imports", "import", "prettier"],
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "plugins": ["@typescript-eslint", "react-native"],
      "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    },
    {
      "files": "**/*.+(js|jsx)",
      "env": {
        "commonjs": true,
        "es6": true,
        "node": true
      },
      "parserOptions": {
        "ecmaVersion": 2018
      },
      "extends": ["plugin:react/recommended"]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "unused-imports/no-unused-imports": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ],
        "pathGroups": [
          {
            "pattern": "{react,react-native}",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react", "react-native"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
